ion-item{
    --border-color:#FA4A0C;
    margin-bottom: 3%;
}

mat-icon, .ic-menu{
    color:#FA4A0C
}

.solde-card{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    height: 45%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
}

.solde-card-header{
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}

.solde-card-content{
    font-size: 220%;
    color: #32a1ce;  
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.solde-card-subtitle{
    font-size: 80%;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

.eye-btn{
    cursor: pointer;
    margin-bottom: -5px;
}


.logo{
    width: 24%;
    height: 50px;
    margin-right: 2%;
}

.btn-menu{
    float: left;
    font-size:xx-large;
    color: #cf92d1;
    cursor: pointer;
}

.person-circle{
    width: 15%;
    height: 50px;
    cursor: pointer;
    color:  #32a1ce;;
}