.logo{
    width: 26%;
    height: 50px;
    margin-right: 13%;
}

.btn-home{
    float: left;
    margin-top: 10px;
    color: #cf92d1;
    cursor: pointer;
}

.mes_tr{
    display: inline;
    cursor: pointer;
}


.du, .au{
    width: 50%;
    display: block;
}

.type{
    height: 45px;
}

.ic-money{
    position: relative;
    top: 7px;
    color:  #1093c7;
}

.line{
    text-align: center;
    border-bottom: solid 2px #32a1ce;  
    max-width: 50%;  
    margin-left: 25%;
    margin-top: 5px;
}