<ion-header class="ion-no-border header">
  <div style="text-align:center; margin-top: 20px;">
    <ion-icon routerLink="/accueil" class="arrow_back" slot="start" name="arrow-back-sharp"></ion-icon>
    <img class="logo" src="../../assets/mobile_money_logo.jpeg" alt="logo">
  </div>
  <div style="margin-top: 2%; text-align: center;">
    <div class="mes_tr"><mat-icon class="ic-money" slot="start"> money</mat-icon>Mes Transactions</div>
    <div class="line"></div>
  </div>
</ion-header>

<ion-content *ngIf="trans$ | async as result" class="ion-padding">

  <ng-container  [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      <ion-spinner class="spinner" name="dots"></ion-spinner>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      {{result.errorMessage}}
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <div  class="type" style="text-align:center;">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Type</mat-label>
          <mat-select>
            <!-- <mat-option value="all" (click)="typeTransaction(result.data, 'all')">Tout</mat-option> -->
            <mat-option (click)="typeTransaction(result.data, 'depot')" value="depot">Dépot</mat-option>
            <mat-option value="retrait" (click)="typeTransaction(result.data, 'retrait')">Retrait</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
      <div style="display: inline; height: 45px">
        <div  class="du" style="float: left;">
          <ion-item>
            <ion-label>Du</ion-label>
            <ion-datetime [(ngModel)]="dateDebut" cancel-text="Annuler"	ok-text="Ok" displayFormat="D MMM YYYY"></ion-datetime>
          </ion-item>
        </div>
    
        <div class="au" style="float: right;">
          <ion-item>
            <ion-label>Au</ion-label>
            <ion-datetime  cancel-text="Annuler"	ok-text="Ok" displayFormat="D MMM YYYY"></ion-datetime>
          </ion-item>
        </div>
      </div>
    
      <div *ngIf="trans$ | async as result" class="scrollable_content" style="width: 100%; height: 70%; overflow:scroll;">
        <table mat-table [dataSource]="result.data" matSort class="mat-elevation-z8" style="width: 100%;">
    
          <!-- date Column -->
          <ng-container matColumnDef="retiredAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.retiredAt | date}} </td>
          </ng-container>
        
          <!-- type Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.compte.split('/')[4]==accountId?'dépot':'retait'}} </td>
          </ng-container>
        
          <!-- mount Column -->
          <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
            <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    
      <div class="total_content" *ngIf="trans$ | async as result">
        <div class="total_text">Total</div>
        <div class="total_mount">{{total_amount?total_amount:typeTransaction(result.data)}}</div>
      </div>
    
    
        <!-- <div *ngIf="userConn$ | async as user">
          {{user.role}}
        </div> -->

        <div>{{dateDebut}}</div>
    </ng-container>
  </ng-container>

</ion-content>
