<ion-header class="ion-no-border header">
  <div style="text-align:center; margin-top: 20px;">
    <ion-icon routerLink="/accueil" class="arrow_back" slot="start" name="arrow-back-sharp"></ion-icon>
    <img class="logo" src="../../assets/mobile_money_logo.jpeg" alt="logo">
  </div>
  <div style="margin-top: 2%; text-align: center;">
    <div class="mes_tr"><mat-icon class="ic-money" slot="start"> money</mat-icon>Calculateur de frais</div>
    <div class="line"></div>
  </div>
</ion-header>

<ion-content class="ion-padding">

  <div class="frais_form">
    <mat-form-field>
      <mat-label>Type de transaction</mat-label>
      <mat-select>
        <mat-option selected value="depot">Dépot</mat-option>
        <mat-option value="retrait">Retrait</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Montant</mat-label>
      <input matInput placeholder="Entrez le montant"  [formControl]="montant" required>
      <mat-error *ngIf="montant.hasError('required')">Donnez le montant</mat-error>
      <mat-error *ngIf="montant.hasError('pattern')">Entrée invalide</mat-error>
    </mat-form-field>
  </div>

  <ng-container  *ngIf="frais$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      <ion-spinner class="spinner" name="dots"></ion-spinner>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      {{result.errorMessage}}
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <div class="total_content" style="margin-top: 30%; width: 70%; margin-left: 15%;">
        <div class="total_text">Frais</div>
        <div class="total_mount">{{result.data.frais}}</div>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
