<ion-header class="header">
  <div style="text-align:center; margin-top: 20px;">
    <ion-icon routerLink="/accueil" class="arrow_back" slot="start" name="arrow-back-sharp"></ion-icon>
    <img class="logo" src="../../assets/mobile_money_logo.jpeg" alt="logo">
    <ion-icon class="person-circle" style="float: right;" name="person-circle-outline"></ion-icon>
    <div class="login-text"><ion-icon class="ic-depot" name="arrow-undo-outline" slot="start"></ion-icon>Retrait</div>
    <div class="line"></div>
  </div>
</ion-header>

<ion-content>

  <div [formGroup]="firstFormGroup" class="code">
    <mat-form-field class="form-field">
      <mat-label>Code de retrait</mat-label>
      <input matInput [(ngModel)]="code" placeholder="Format: 123-456-789" formControlName="codeRetrait" required>
    <mat-error
      *ngIf="firstFormGroup.get('codeRetrait').hasError('required')">
      Entrez le code de retrait
    </mat-error>
    </mat-form-field>
    <ion-spinner *ngIf="waiting" class="spinner" name="dots"></ion-spinner>
  </div>
  <div>
    <button *ngIf="codeError" type="button" mat-flat-button color="warn" class="btn-suivant">{{msgError}}</button>
  </div>

  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Erreur(s)">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Bénéficiaire</ng-template>
        <mat-form-field class="form-field">
          <mat-label>Entrez le N° CNI</mat-label>
          <input [disabled]="codeSuccess" matInput placeholder="N° carte d'identité" formControlName="IdCard" required>
        <mat-error
          *ngIf="firstFormGroup.get('IdCard').hasError('required')">
          Le CIN est requis
        </mat-error>
        </mat-form-field>

        <div *ngIf="codeSuccess" class="infos_client_content">
          <div class="infos_client">
            <div class="labels">NOM & PRÉNOM</div>
            <div class="values">{{transaction.sendTo.firstName}} {{transaction.sendTo.lastName}}</div>
          </div>
          
          <div class="infos_client">
            <div class="labels">TÉLÉPHONE</div>
            <div class="values">{{transaction.sendTo.telephone}}</div>
          </div>
  
          <div class="infos_client">
            <div class="labels">MONTANT A RECEVOIR</div>
            <div class="values">{{montant}}</div>
          </div>
  
          <div class="infos_client">
            <div class="labels">DATE D'ENVOI</div>
            <div class="values">{{date | date:'dd/MM/yyyy à hh:mm'}}</div>
            
          </div>
        </div>

        
        <div>
          <button class="btn-suivant" mat-flat-button color="warn" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Emétteur</ng-template>

      <div *ngIf="codeSuccess" class="infos_client_content">
        <div class="infos_client">
          <div class="labels" style="margin-top: 5%;">N° CNI</div>
          <div class="values">{{transaction.sendFrom.IdCard}}</div>
        </div>
        
        <div class="infos_client">
          <div class="labels">NOM & PRÉNOM</div>
          <div class="values">{{transaction.sendFrom.firstName}} {{transaction.sendFrom.lastName}}</div>
        </div>
        
        <div class="infos_client">
          <div class="labels">TÉLÉPHONE</div>
          <div class="values">{{transaction.sendFrom.telephone}}</div>
        </div>

        <div class="infos_client">
          <div class="labels">MONTANT ENVOYÉ</div>
          <div class="values">{{montant}}</div>
        </div>

        <div class="infos_client">
          <div class="labels">DATE D'ENVOI</div>
          <div class="values">{{date | date:'dd/MM/yyyy à hh:mm'}}</div>
        </div>
      </div>
      
      <div>
        <button [disabled]= "firstFormGroup.invalid || !codeSuccess" mat-flat-button (click)="showAlert()" color="warn" class="btn-suivant">Retirer</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</ion-content>

