.form-field{
    width: 100%;
}

.btn-suivant{
    width: 75%;
    height: 55px;
    margin-left: 12.5%;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 20px;
}


.logo{
    width: 24%;
    height: 50px;
    margin-right: 0%;
}

.person-circle{
    width: 13%;
    height: 50px;
    cursor: pointer;
}

.login-text{
    text-align: center;
    margin-top: 5px;
}

.line{
    text-align: center;
    border-bottom: solid 2px #32a1ce;  
    max-width: 30%; 
    margin-top: 5px;
    margin-left: 35%;
}

.ic-depot, .person-circle{
    color: #32a1ce;
    font-size: larger;
}

.confirm{
    color: olive;
}

.code{
    margin-top: 7%;
    width: 88%;
    margin-left: 6%;
}

.infos_client{
    margin-bottom: 15px;
    border-bottom: solid 1px rgb(133, 143, 133);  

}

.labels{
    color: rgb(97, 104, 97);
}

.values{
    margin-left: 2%;
}
