.logo{
    width: 26%;
    height: 50px;
    margin-right: 13%;
}

.mes_tr, .ttes_tr{
    display: inline;
    cursor: pointer;
    padding-bottom: 6px;
    border-bottom: solid 2px #1093c7;  
}

.ttes_tr{
    float: right;
}

.users, .type, .du, .au{
    width: 50%;
    height: 32px;
    display: block;
}

.codeRetrait{
    text-align: center;
    border: solid 2px orange; 
    border-radius: 25px;
    font-size: large;
    height: 40px;
    margin-top: 5px;
}

.codeLabel{
    background-color:orange;
    color: white;
    width: 30%;
    float: left;
    padding: 8px;
    border-radius: 25px;
}

.code{
    text-align: center;
    width: 70%;
    padding: 10px;
    float: right;
}

mat-form-field{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}