.logo{
    width: 26%;
    height: 50px;
    margin-right: 13%;
}

.ttes_tr{
    display: inline;
    cursor: pointer;
    padding-bottom: 6px;
}


.users, .type, .du, .au{
    width: 50%;
    height: 32px;
    display: block;
}

mat-form-field{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
}

.line{
    text-align: center;
    border-bottom: solid 2px #32a1ce;  
    max-width: 52%;  
    margin-left: 24%;
    margin-top: 5px;
}

.ic-depot{
    color: #32a1ce;
    font-size: larger;
}