ion-content{
    --background: url(../../assets/mobile_money_bg.jpeg) 0 0/100% 100% no-repeat;
}

.container{
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 50%;
    height: 30%;
    background-color: rgb(250, 245, 245);
    padding: 15%;
    border-radius: 50%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes slide-fwd-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}100%{-webkit-transform:translateZ(160px);transform:translateZ(160px)}}@keyframes slide-fwd-center{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}100%{-webkit-transform:translateZ(160px);transform:translateZ(160px)}}
.connecter{-webkit-animation:slide-fwd-center .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-fwd-center .5s cubic-bezier(.55,.085,.68,.53) both}
