

<ion-content>
  <div class="logo-container">
    <img class="logo" src="../../assets/mobile_money_logo.jpeg" alt="logo">
    <div class="login-text" >Login</div>
    <div class="line"></div>
  </div>

  <form class="ion-padding" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput type="tel" required formControlName="username" placeholder="Format: 771234567">
      <mat-error
        *ngIf="formGroup.get('username').hasError('pattern')">
        Le numéro de téléphone est incorrecte
      </mat-error>
      <mat-error
        *ngIf="formGroup.get('username').hasError('required')">
        Entrez le numéro de téléphone
      </mat-error>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
      <mat-error
        *ngIf="formGroup.get('password').hasError('required')">
        Entrez le mot de passe
      </mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="login_err" class="error-message">{{msgError}}</div>

      <a class="forget-pw" [routerLink]="['/forgot-password']">Mot de pass oublié?</a>

  </form>

  <ion-spinner *ngIf="waiting" class="spinner" name="dots"></ion-spinner>

</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button shape="round" (click)="login()"  size="large" type="submit" mode="ios" class="btn-submit" expand="block">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
