

<ion-content>
  <div class="logo-container">
    <img class="logo" src="../../assets/mobile_money_logo.jpeg" alt="logo">
    <div class="login-text" >Login</div>
    <div class="line"></div>
  </div>

  <form class="ion-padding">
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput required [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="login_err" class="error-message">Téléphone ou mot de pass incorrecte</div>

      <a class="forget-pw" [routerLink]="['/forgot-password']">Mot de pass oublié?</a>

  </form>

  <ion-spinner *ngIf="waiting" class="spinner" name="dots"></ion-spinner>

</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button shape="round" (click)="login()"  size="large" type="submit" mode="ios" class="btn-submit" expand="block">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
