

<ion-content>
  <div class="logo-container">
    <img class="logo" src="../../assets/mobile_money_logo.jpeg" alt="logo">
    <div class="login-text" >Login</div>
    <div class="line"></div>
  </div>

  <form class="ion-padding">
    <ion-item lines="full">
      <ion-label position="floating">Telephone</ion-label>
      <ion-input type="tel" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <a class="forget-pw" [routerLink]="['/forgot-password']">Mot de pass oublié?</a>
    </ion-row>

  </form>

</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/accueil" shape="round"  size="large" type="submit" mode="ios" class="btn-submit" expand="block">Se connecter</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
