/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body{
    --ion-background-color: #faf7f5;
}

.spinner{
    position: absolute;
    top: 30%;
    left: 46%;
}

.scrollable_content::-webkit-scrollbar {
    display: none;
}

.scrollable_content{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


// commun à commission et transaction
.total_content{
    text-align: center;
    border: solid 2px orange; 
    border-radius: 25px;
    font-size: large;
    height: 30px;
    margin-top: 5px;
}

.total_text{
    background-color:orange;
    color: white;
    width: 30%;
    float: left;
    padding: 3px;
    border-radius: 25px;
}

.total_mount{
    text-align: center;
    width: 70%;
    padding: 2.5px;
    float: right;
}

.header{
    border-radius: 0 0 20px 20px;
    padding: 0 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
    width: 100%;
    background-color: white;
}

.arrow_back{
    float: left;
    margin-top: 5%;
    font-size:xx-large;
    color: #cf92d1;
    cursor: pointer;
}